/**
 * Styling for the feedback messages.
 *
 * @package WordPoints_Importer
 * @since 1.0.0
 */

.wordpoints-feedback:not(.wordpoints-feedback-info) {
    font-weight: bolder;
}

.wordpoints-feedback-warning {
    color: #EC8D00;
}

.wordpoints-feedback-error {
    color: #EC2A00;
}

.wordpoints-feedback-success {
    color: #118F2D;
}

/* EOF */
